<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyj.fmk.common.mapper.CommonMapper">

    <select id="cmCdList" resultType="ResCommonCdDTO" parameterType="ReqCommonCdDTO">
        /* com.kyj.fmk.common.mapper.CommonMapper.cmCdlist 공통코드 조회 */
            SELECT CMC.CM_CD
                 , CMCD.CM_CD_VAL
                 , CMCD.CM_CD_VAL_NM
              FROM CM_CM_CD CMC
        INNER JOIN CM_CM_CD_D CMCD
                ON CMC.CM_CD = CMCD.CM_CD
             WHERE 1=1
        <if test="cmCd != null and cmCd != ''">
                   AND CMC.CM_CD = #{cmCd}
        </if>
        <if test="cmCdVal != null and cmCdVal != ''">
                   AND CMCD.CM_CD_VAL = #{cmCdVal}
        </if>
                   AND CMC.US_YN = 'Y'
    </select>

</mapper>

